@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.blink_term_character{
    position: relative;
    display: inline-block;
    line-height: 24px;
    font-size: 30px;
    color: rgb(2, 255, 99);
    min-width: 360px;
}
.blink_term_character::after{
    content: "";
    position: absolute;
    top: -4px;
    display: inline-block;
    background-color: rgb(2, 255, 99);
    vertical-align: top;
    width: 10px;
    height: 30px;
    -webkit-animation: blink 1s step-end infinite;
    animation: blink 1s step-end infinite;
}
@-webkit-keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
  
@keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
body{
    font-family: 'Share Tech Mono', monospace !important;
    font-size: 1rem;
    background-color: black;
}
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
.white_text {
    color: white;
    text-align: center;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
  }