body{
    background: #131014;
    color: #fff;
    font-family: sans-serif;
    }
#main{
    font-size: 2em;
}
ul#menu {
    margin-top: 0%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    list-style: none;
    background: rgb(55, 27, 75);
}
a#menu {
    margin-top: 0%;
    font-size: 1em;
    display: block;
    text-decoration: none;
    padding: 1em;
    color: white;
    text-align: center;
}
a:hover#menu {
    background: rgb(33, 16, 37);
}
p#name {
    position: fixed;
    width: 50%;
    bottom: 0px 
}