body{
    text-align: center;
}
canvas#tetris{
    border: solid .2em #fff;
    height: 80vh;
    margin: 0;

}
div#Nice{
    position: absolute;
    top: 30%;
    right:28.5%;
}

canvas#next{
    border: solid .2em #fff;
}
#main{
    font-size: 2em;
    border: solid .2em #fff;
    width: 45%;
    margin: 0 auto;
}